{% extends "core.html" %}
{% block success %}

<main class="bg bg-dark">
    <div class="container">
        <div class="row d-flex justify-content-center align-items-center min-vh-100">
            <div class="col-6">
                <div class="card alert alert-success">
                    <div class="card-body">
                        <h3 class="card-title">Hurraayyyy !!!</h3>
                        
                    </div>
                    <div class="card-footer">
                        {{msg}} . Click here to 
						<a href="{{url_for('login')}}" class="btn btn-outline-success text-gradient font-weight-bold">Sign In</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</main>

{% endblock %}